/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #f1f1f1f1;
    font-family: Work sans;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #628ec9;
    overflow: hidden;
    box-shadow: 2px 2px;
}

nav ul li {
    float: right;
    background-color: hwb(0 0% 100% / 0)
}

.logo {
    width: 200px;
    height: auto;
    float: left;
    margin: 0.5em;
    background-color: #00000000;
}

nav ul li a {
    display: block;
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    padding: 16px 22px;
    text-decoration: none;
    transition: 0.1s ease-out;
}

a:hover{
    background-color: #30588b;
    transition: 0.1s ease-in;
}

.container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #628ec9;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: #00000000;
    font-weight: 600;
}
/*
.imgEvento {
    
}*/

.cartaEvento{
    margin: 1em;
    padding: 1em;
    display: flexbox;
    text-align: right;
    gap: 10px; 
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
